<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
    <div fxLayout="column" *ngFor="let person of persona.reverse()">
        <div fxFlex="25" [style.margin-top.px]="10">
            <mat-card class="example-card">
                <mat-card-header fxLayoutAlign="center start">
                    <mat-card-title>Tarjeta de presentación</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-selection-list role="list">
                        <mat-list-item>
                            Nombre: {{ person.nombre }}
                        </mat-list-item>
                        <mat-list-item>
                            Edad: {{ person.edad }}
                        </mat-list-item>
                        <mat-list-item>
                            Frase: {{ person.frase }}
                        </mat-list-item>
                    </mat-selection-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
