<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
    <div>
        <div fxFlex="50" [style.margin-left.px]="10">
            <h2>Lista de Post</h2>
            <div id="tableContainer">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element">{{element.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef>Titulo</th>
                        <td mat-cell *matCellDef="let element">{{element.title}}</td>
                    </ng-container>

                    <ng-container matColumnDef="user">
                        <th mat-header-cell *matHeaderCellDef>ID Usuario</th>
                        <td mat-cell *matCellDef="let element">{{element.userId}}</td>
                    </ng-container>


                    <ng-container matColumnDef="body">
                        <th mat-header-cell *matHeaderCellDef>Descripción</th>
                        <td mat-cell *matCellDef="let element">{{element.body}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="verComentarios(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            
        </div>
        <div fxFlex="50" [style.margin-left.px]="10">
            <h2>Lista de Comentarios</h2>
            <h4 *ngIf="!comments">Selecciona un post de la <em>Lista de Post</em></h4>
            <table mat-table [dataSource]="dataSourceComments" class="mat-elevation-z8 demo-table" *ngIf="comments">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="postId">
                    <th mat-header-cell *matHeaderCellDef>ID Post</th>
                    <td mat-cell *matCellDef="let element">{{element.postId}}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">{{element.email}}</td>
                </ng-container>

                <ng-container matColumnDef="body">
                    <th mat-header-cell *matHeaderCellDef>Descripción</th>
                    <td mat-cell *matCellDef="let element">{{element.body}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsComments"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsComments;"></tr>
            </table>
        </div>
    </div>
</div>
