<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
    <div fxLayout="column">
        <div fxFlex="50" [style.margin-top.px]="10">
            <mat-card class="example-card" [style.margin-top.px]="10">
                <mat-card-title>Agregar personas</mat-card-title>
                <form class="example-form" novalidate #fform="ngForm" [formGroup]="addPersonForm" (ngSubmit)="addPerson()">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" type="text" required pattern="[a-zA-ZñÑ ]*">
                        <mat-error *ngIf="addPersonForm.get('nombre').hasError('required')">
                            Nombre es <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="addPersonForm.get('nombre').hasError('pattern')">
                            No se permiten caracteres especiales
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Edad</mat-label>
                        <input matInput formControlName="edad" type="number" required>
                        <mat-error *ngIf="addPersonForm.get('edad').hasError('required')">
                            Edad es <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="addPersonForm.get('edad').hasError('min')">
                            La edad debe ser mayor a 0
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Frase</mat-label>
                        <input matInput formControlName="frase" type="text" required>
                        <mat-error *ngIf="addPersonForm.get('frase').hasError('required')">
                            Frase es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <div fxLayout="row wrap" fxLayoutAlign="center center">
                        <div fxLayout="column">
                            <button id="basic" type="submit" color="primary" mat-button [disabled]="addPersonForm.invalid">
                                Agregar Persona
                            </button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>
