<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
    <section>
        <div class="example-button-row">
            <div class="example-flex-container">
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>home</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
        </div>
    </section>
</div>
